<html>
 
<head>
    <title>Handling of http get and post request</title>
    <link rel="stylesheet" type="text/css" href="static/styles/loginstyle.css">
</head>
 
<body>
 
    <div>
        <h1>Handle POST Request</h1>
        <form method="POST" action="/evaluate">
            <input type="text"
                   name="passportId"
                   placeholder="passport ID"
                   value="{{sent_passportId}}">
            <br>
            <br>
            <input type="password"
                   name="verifcode"
                   placeholder="verifcode"
                   value="{{sent_verifcode}}">
                   <br>
                   <br>
            <input type="text" name="vote" placeholder="vote">
            <br>
            <br>
            <button type="submit">submit</button>
        </form>
    </div>
</body>
 
</html>