<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Document
    </title>
    <link rel="stylesheet" type="text/css" href="static/styles/success.css">
</head>
<body>
    <h1>
        Stimme wurde erfolgreich abgegeben
    </h1>
    <hr style="border-top: 3px solid #bbb;">
    <div id="box">
        <form action="/leaderboard">
            <button type="submit">
                Auswertung
            </button>
        </form>
        <form action="/">
            <button type="submit">
                Homepage
            </button>
        </form>
    </div>
</body>
</html>