div {
    width: 400px;
    border: 5px solid #222;
    background-color: #444;
    color: #CCC;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 20px;
}
input {
    border: #222 solid 2px;
}
body {
    text-align: center; align-items: center;display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}