.bar_purple{
    background-color: blueviolet;
}
.bar_pink{
    background-color: crimson;
}
.bar_green{
    background-color: green;
}
.bar_red{
    background-color: red;
}
.bar_yellow{
    background-color: yellow;
}
.bar_black{
    background-color: black;
}
.bar_blue{
    background-color: blue;
}