<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/styles/index.css" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <div class="box">
        <form action="/login">
            <button id="loginbutton" type="submit">LOGIN</button>
        </form>
        <form action="/signup">
            <button id="signupbutton" type="submit">SIGNUP</button>
        </form>
        
    </div>
    <script src="static/scripts/index.js"></script>
</body>
</html>