<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h3>Our Mission</h3>
        <p>We thrive to create the first social plattform, that unite every social plattform that can be found in the internet. We value privacy beyond everything, that is the reason we keep everything on this plattform encrypted multiple times. The services provided are completely open sourced, so everyone can comprehend what happens behind the screen</p>
    </div>
</body>
</html>