<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/styles/signup.css" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="box">
    <form method="post" action="/submit_signup">
        <input class="input" type="text" name="username" placeholder="Username" minlength="3" maxlength="16">
        <br>
        <input class="input" type="email" name="email" placeholder="Email" required>
        <br>
        <input class="input" type="password" name="password" placeholder="Password" minlength="8">
        <br>
        <button id="signupbutton" type="submit">SIGN UP</button>
    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}
    </form>
    <br>
    <br>
    
    </div>
</body>
</html>