:root {
    --signupcolour: #E55812;
    --signupcolour: #4D6CFA;
}
#submitbutton {
    animation-name: transition_submitbutton_color_reverse;
    animation-duration: 0.8s;
}       
#submitbutton:hover {
    background-color: var(--signupcolour);
    animation-name: transition_submitbutton_color;
    animation-duration: 0.8s;
}

.box {
    background-color: #222;
    border-radius: 10px;
    width: 30%;
    transition: transform 2s, box-shadow 0.3s ease;
    margin: 0 auto;
    box-shadow: 0 0px 20px rbga(255, 255, 255, 0.8);
    justify-content: center;
    display: flex;
    box-shadow: 0px 0px 20px var(--signupcolour);
}
.box:hover {
    transform: scale(1.3);
}
.box form button {
    padding: 8%;
    width: 80%;
    margin: 5% 10%;
    background-color: white;
    border-radius: 20px;
    border: solid 3px black;
    color: black;
    animation-name: transition_button_color_reverse;
    animation-duration: 0.8s;
}
.box form button:hover {
    border-color: white;
    color: white;

}
.box form p{
    padding: 8%;
    text-align: center;
    margin: 5% 10%;
}
.input {
    padding-block: 0;
    padding-inline: 0;
    padding: 8%;
    width: 80%;
    margin-top: 5%;
    background-color: white;
    border-radius: 20px;
    border: solid 3px var(--signupcolour);
    color: black;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.input:focus {
    color: black;
    background-color: var(--signupcolour);
}
.input::placeholder {
    color: black;
    font-weight: bold;
}
.input:focus::placeholder {
    color: transparent;
}
body {
    background-color: #333;
    color: #333;
    display: flex !important;
    align-items:center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    transition: box-shadow 0.3s ease;
}

@keyframes transition_submitbutton_color {
    from {
        background-color: white;
        border-color: black;
    }
    to {
        background-color: var(--signupcolour);
        border-color: white;
    }
}
@keyframes transition_submitbutton_color_reverse {
    from {
        background-color: var(--signupcolour);
        border-color: white;
    }
    to {
        background-color: white;
        border-color: black;
    }
}