<html>
 
<head>
    <title>Handling of http get and post request</title>
    <style>
        div {
            width: 400px;
            border: 5px solid #222;
            background-color: #444;
            color: #CCC;
            padding: 10px;
            margin-bottom: 5px;
        }
        input {
            border: #222 solid 2px;
        }
    </style>
</head>
 
<body style="text-align: center; align-items: center;display: flex;
justify-content: center;
align-items: center;
height: 100vh;">
 
    <div style="border-radius: 20px;">
        <h1>Handle POST Request</h1>
        <form method="POST" action="/evaluate">
            <input type="text"
                   name="passportId"
                   placeholder="passport ID">
            <br>
            <br>
            <input type="password"
                   name="verifcode"
                   placeholder="verifcode">
                   <br>
                   <br>
            <input type="text" name="vote" placeholder="vote">
            <br>
            <br>
            <button type="submit">submit</button>
        </form>
    </div>
</body>
 
</html>